body {
    overflow-x: hidden;
}

header {
    backdrop-filter: blur(4em);
}

header section:first-of-type p {
    background-color: var(--color-text);
    color: var(--color-text2);
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}

main section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(1)>ul {
    order: -1;
}

main section:nth-of-type(1)>ul li {
    list-style: none;
}

main section:nth-of-type(1)>ul li img {
    width: 100vw;
}

main section:nth-of-type(1)>ul {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    position: relative;
}

main section:nth-of-type(1)>ul {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

main section:nth-of-type(1)>h1 {
    width: 100%;
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0 0 1em;
}

main section:nth-of-type(1)>p {
    width: 100%;
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .8em;
    margin: 1rem;
}

/* size fieldset */

main section:nth-of-type(1)>form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
}

main section:nth-of-type(1)>form fieldset {
    display: grid;
    grid-auto-flow: column;
    gap: .8em;
    border: none;
    margin: 1em;
}

main section:nth-of-type(1)>form fieldset legend {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 1em;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-sizeborder);
    border-radius: .5em;
    padding: 1.1em 2em;
    cursor: pointer;
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .7em;
    transition: border-color 0.2s ease;
}

label:hover {
    border-color: #aaa;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked+label,
label:has(input[type="radio"]:checked) {
    border-color: var(--color-text);
}

/* button cart */

main section:nth-of-type(1)>form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    border: 0.08em solid var(--color-sizeborder);
    border-radius: 0.8em;
    background: white;
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 1em;
    height: 4em;
}

main section:nth-of-type(1)>form button svg {
    width: 1.2em;
    height: 1.2em;
}

main section:nth-of-type(1)>form button svg+svg {
    display: none;
}

main section:nth-of-type(1)>form button:hover {
    background-color: var(--color-hover);
}

main section:nth-of-type(1)>form button:hover svg:first-of-type {
    display: none;
}

main section:nth-of-type(1)>form button:hover svg:last-of-type {
    display: inline;
}

/* descriptions */

/* tab part */

main section:nth-of-type(2){
    margin-bottom: 3em;
}

main section:nth-of-type(2)>article:first-of-type {
    display: block;
}

main section:nth-of-type(2)>nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-sizeborder);
    margin: 1em;
    gap: 1em;
}

main section:nth-of-type(2)>nav>button {
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

main section:nth-of-type(2)>nav>button h2 {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

main section:nth-of-type(2)>nav>button:focus {
    outline: none;
    border-bottom-color: .8px solid var(--color-text);
    transition: 0.3s ease;
}

/* articles */

main section:nth-of-type(2)>article {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

main section:nth-of-type(2)>article:nth-of-type(1) p em:nth-of-type(1) {
    font-family: "WebFont", sans-serif;
    font-weight: 700;
    font-size: .8em;
    font-style: normal;
    text-decoration: underline;

}

main section:nth-of-type(2)>article p:nth-of-type(2) {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin: 1.5em 0 1.5em 0;
}

main section:nth-of-type(2)>article h3 {
    font-family: "WebFont", sans-serif;
    font-weight: 700;
    font-size: .8em;
}

main section:nth-of-type(2)>article:nth-of-type(1) ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1.5em 0 1.5em .8em;
}

main section:nth-of-type(2)>article ul:nth-of-type(1) li p {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

main section:nth-of-type(2)>article p:nth-of-type(3) {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin: 1.5em 0 1.5em 0;
}

main section:nth-of-type(2)>article dl {
    margin: 1em 0 1em 0;
}

main section:nth-of-type(2)>article dl dt {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

main section:nth-of-type(2)>article dl dd {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin-bottom: 1em;
}

main section:nth-of-type(2)>article ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1.5em 0 1.5em 0;
}

main section:nth-of-type(2)>article ul:nth-of-type(2) li {
    list-style: none;
}

main section:nth-of-type(2)>article ul:nth-of-type(2) li p {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

main section:nth-of-type(2)>article:nth-of-type(2) p:nth-of-type(1) {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin: 1.5em 0 1.5em 0;
}

main section:nth-of-type(2)>article:nth-of-type(2) p:nth-of-type(2) a {
    text-decoration: none;
    color: var(--color-text);
}

main section:nth-of-type(2)>article:nth-of-type(3) p:nth-of-type(1) {
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
    margin: 1.5em 0 1.5em 0;
}

main section:nth-of-type(2)>article:nth-of-type(3) p:nth-of-type(1) a {
    color: var(--color-text);
}

main section:nth-of-type(2)>article:nth-of-type(3) p:nth-of-type(2) a {
    text-decoration: none;
    color: var(--color-text);
}

main section:nth-of-type(2)>article:nth-of-type(2) ul {
    margin: 1em 0 1em 0;
    gap: .5em;
}

main section:nth-of-type(2)>article:nth-of-type(2) li {
    list-style: none;
}

main section:nth-of-type(2)>article:nth-of-type(2) li a {
    color: var(--color-text);
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

main section:nth-of-type(2)>article:nth-of-type(3) ul {
    margin: 1em 0 1em 0;
}


main section:nth-of-type(2)>article:nth-of-type(3) li {
    list-style: none;
}

main section:nth-of-type(2)>article:nth-of-type(3) li a {
    color: var(--color-text);
    font-family: "WebFont", sans-serif;
    font-weight: 400;
    font-size: .8em;
}

/* carousel items */

main section:nth-of-type(3){
    margin: 1em;
}

main section:nth-of-type(3) h2{

	width: 100%;
	display: flex;
	align-items: center;
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
}

main section:nth-of-type(3) ul:nth-of-type(1){
  	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	gap: 1em;
	scrollbar-width: thin;
	scrollbar-color: black transparent;
	position: relative;
    list-style: none;
}

main section:nth-of-type(3) ul:nth-of-type(1) li {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
    margin: .5em 0 .5em 0;
}

main section:nth-of-type(3) ul:nth-of-type(1)::scroll-button(*) {
    position: absolute;
    align-self: center; 
    border: 0;
    font-size: 2rem;
    background: none;
    opacity: 0;
    cursor: pointer;
}

main section:nth-of-type(3) ul:nth-of-type(1)::scroll-button(left) {
    content: "⟨";
    justify-self: start;
 
}
 
main section:nth-of-type(3) ul:nth-of-type(1)::scroll-button(right) {
    content: "⟩";
    justify-self: end;
}

main section:nth-of-type(3) ul:nth-of-type(1) li a {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;
	align-items: start;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--color-text);

}

main section:nth-of-type(3) ul:nth-of-type(1) li a svg {
	width: 1.5em;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-self: end;
	justify-self: end;
	z-index: 2;
}

main section:nth-of-type(3) ul:nth-of-type(1) li a svg:first-of-type {
	transition: opacity 0.2s;
	z-index: 1;
}

main section:nth-of-type(3) ul:nth-of-type(1) li a svg:last-of-type {
	width: 1.5em;
	transition: opacity 0.2s;
	z-index: 2;
	opacity: 0;
}


main section:nth-of-type(3) ul:nth-of-type(1) li a:hover svg:first-of-type {
	opacity: 0;
}

main section:nth-of-type(3) ul:nth-of-type(1) li a:hover svg:last-of-type {
	opacity: 1;
}


main section:nth-of-type(3) ul:nth-of-type(1) li a h3 {
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .7em;
	text-transform: uppercase;
	padding: .2em;
	padding-top: .5em;
}

main section:nth-of-type(3) ul:nth-of-type(1) li a img{
    width: 100%;
}

