body {
	overflow-x: hidden;
	overflow-y: scroll;
}

header div>img {
	filter: invert();
}

section:first-of-type p {
	background-color: var(--color-text);
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em 0;
	width: 100%;
}


main section:nth-of-type(1) {
	position: relative;
	top: -2.8em;
	min-height: 40em;
	overflow: hidden;
	 display: flex;
  align-items: center;

}


main section:nth-of-type(1) img {
	width: 100%;
	z-index: 0;
	min-height: 40em;
  object-fit: cover;
  object-position: center center; 

}

main section:nth-of-type(1) ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
	list-style: none;
	text-align: center;
	z-index: 1;
}



main section:nth-of-type(1)>ul li {
	backdrop-filter: blur(.2em);
	padding: .8em 1em .8em 1em;
	border: 0.01em solid var(--color-border);
	border-radius: .5em;
}

main section:nth-of-type(1)>ul li a:focus {
	outline: 2px solid red;
	outline-offset: 20px;
}

main section:nth-of-type(1)>ul li:hover {
	border: 0.01em solid var(--color-text2);
	transition: .3s;
}

main section:nth-of-type(1)>ul li a {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

main section:nth-of-type(2) ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: -1em;
	margin-bottom: 1.5em;
}

main section:nth-of-type(2) ul:nth-of-type(1) li {
	list-style: none;
}

main section:nth-of-type(2) ul:nth-of-type(1) li a {
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--color-text);
	margin-right: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(1) li h2 {
	width: 100%;
	display: flex;
	align-items: center;
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
	margin-left: 1em;
}

/* items part */

main section:nth-of-type(2) ul:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(2, minmax(10em, 1fr));
	gap: 1em;
	list-style: none;
	padding: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
	margin: .5em 0 .5em 0;
}


main section:nth-of-type(2) ul:nth-of-type(2) li a {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;
	align-items: start;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--color-text);

}

main section:nth-of-type(2) ul:nth-of-type(2) li a svg {
	width: 1.5em;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-self: end;
	justify-self: end;
	z-index: 2;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a svg:first-of-type {
	transition: opacity 0.2s;
	z-index: 1;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a svg:last-of-type {
	width: 1.5em;
	transition: opacity 0.2s;
	z-index: 2;
	opacity: 0;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a:hover svg:first-of-type {
	opacity: 0;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a:hover svg:last-of-type {
	opacity: 1;
}


main section:nth-of-type(2) ul:nth-of-type(2) li a h3 {
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .7em;
	text-transform: uppercase;
	padding: .2em;
	padding-top: .5em;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a>ul {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	gap: 1em;
	scrollbar-width: thin;
	scrollbar-color: black transparent;
	position: relative;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a>ul::scroll-button(*) {
    position: absolute;
    align-self: center; 
    border: 0;
    font-size: 2rem;
    background: none;
    opacity: 0;
    cursor: pointer;
}
main section:nth-of-type(2) ul:nth-of-type(2) li a>ul::scroll-button(left) {
    content: "⟨";
    justify-self: start;
 
}
 
main section:nth-of-type(2) ul:nth-of-type(2) li a>ul::scroll-button(right) {
    content: "⟩";
    justify-self: end;
}
 
main section:nth-of-type(2) ul:nth-of-type(2) li a:hover ul::scroll-button(*),
main section:nth-of-type(2) ul:nth-of-type(2) li a:focus ul::scroll-button(*){
  opacity: 1;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a>ul>li {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a>ul img {
	width: 100%;
}

main section:nth-of-type(2) ul:nth-of-type(2) li a p {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .6em;
	text-transform: uppercase;
	padding: .2em;
}

/* video part */


main section:nth-of-type(3) {
	position: relative;
	display: grid;
}

main section:nth-of-type(3) video {
	width: 100%;
	position: relative;
	z-index: 0;
	grid-area: 1 / 1;
	object-fit: contain;
}

main section:nth-of-type(3) button {
	grid-area: 1 / 1;
	align-self: end;
	justify-self: end;
	margin: 1em;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 2;
}

main section:nth-of-type(3) button img {
	width: 3em;
	height: 3em; 
	object-fit: contain;
}

main section:nth-of-type(3) ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
	list-style: none;
	text-align: center;
	z-index: 1;
}

main section:nth-of-type(3) ul li {
	padding: .5em;
	list-style: none;
}

main section:nth-of-type(3)>ul li h2 {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;

}

main section:nth-of-type(3)>ul li a {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	backdrop-filter: blur(.2em);
	padding: .8em 1em .8em 1em;
	border: 0.01em solid var(--color-border);
	border-radius: .5em;
}

main section:nth-of-type(3)>ul li a:hover {
	border: 0.01em solid var(--color-text2);
	transition: .3s;
}